@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;

}

*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
.slick-next{
    right: -20px  !important;
   
}
.slick-prev{
    left: -20px !important;
    z-index: 11;
   
}
/* .content{
    display: flex !important;
     justify-content: space-between !important;
} */

/* .rh5v-DefaultPlayer_component{
    height: 700px !important;
    width:90% !important;
    display: flex !important;
} */